* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header h1 {
    color: gold;
    font-size: 60px;
}

header p {
    color: #fff;
}

.cabecalho {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.red {
    background-color: #c12717;
    height: auto;
}

.bio {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bio h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

.bio p {
    font-size: 18px;
}

.bio-text,
.bio-photo {
    flex: 1;
}

.bio-text ul {
    margin-top: 10px;
    padding-left: 10px;
}

.bio-photo {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 420px;
    height: 260px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 2px 1px 19px #000;
}

.bio-photo img {
    border: radius top 20px;
    max-width: 420px;
    height: auto;
}

.bio-text p {
    padding-right: 30px;
}

section.area-equipes {
    background-color: #ddd;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.equipe-title {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.area-equipes2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.equipe {
    margin-top: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    flex: 1;
}

.equipe-cabecalho {
    display: flex;
    align-items: center;
    background-color: #c12717;
}

.equipe-cabecalho-logo img {
    padding: 10px;
    max-height: 60px;
}

.equipe-bio {
    border: 1px solid #bbb;
    background-color: #fff;
    padding: 15px;
}

.udinese {
    background-color: black;
    color: white;
}

.selecao {
    background-color: rgb(0, 5, 73);
    color: white;
}

.equipe-bio p {}

section.sec-timeline {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}

.timeline-title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.timeline {
    border: solid 3px #ddd;
    padding: 0px 30px;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
    color: white;
}

.timeline td,
.timeline th {
    border: 2px solid #ddd;
    padding: 8px;
}

.timeline td:nth-child(odd) {
    text-align: center;
}

.timeline tr:nth-child(even) {
    background-color: #b84b3f;
    ;
}

.timeline tr:hover {
    background-color: #ff4935;
}